@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
button {
    outline: none;
}

.welcome {
  background-color: #50802C;
  text-align: center;
}
.welcome h1 {
  font-family: "Merriweather", serif;
  color: white;
  font-weight: 400;
  padding-top: 20px;
}
.welcome .small-h1 {
  font-size: 20px;
  display: block;
}
.welcome .big-h1 {
  font-size: 40px;

}
.welcome h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  padding: 20px 0px;
}
.welcome p {
  font-family: "Recursive", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 10px 0px;
}
.welcome .links {
  display: flex;
}
.welcome .links button {
  width: 50%;
  height: 4em;
  background-color: #50802C;
  border: none;
  font-family: "Recursive", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #FB8F07;
  cursor: pointer;

}

.welcome .links button a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active{
  border-bottom: 3px solid #FB8F07;
}

@media screen and (min-width: 768px){
  .welcome{
    display: none;
  }
}