* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.topnav {
    background-color: #50802C;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.burger-btn{
    background: none;
    font-size: 25px;
    padding: 15px 20px;
    cursor: pointer;
}
.nav-bar{
    background: #333333;
}
.nav-bar a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.nav-bar a:hover{
    background: white;
    color: #333333;
}
.desktop-header{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 40px;
}
.logo h1 {   
    color: #50802C;
    font-weight: 400;
    padding: 10px 0px;
}
.logo .small-h1 {
    font-family: "Merriweather", serif;
    font-size: 20px;
    display: block;
    text-align: center;
}
.logo .big-h1 {
    font-family: "Merriweather", serif;
    font-size: 40px;
    line-height: 30px;    
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu a{
    letter-spacing: 0.05vw;
    font-weight: bold;
    color: rgb(0, 92, 92);
    margin: 0px 10px;
    font-size: 12px;
}
.menu a:hover{
    color:#3E69B6; 
}
.sign-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}
.sign-links a{
    margin-left: 10px;
    color: #3E69B6;  
    padding: 10px 15px;
}
.sign-links .active{
    background-color: #50802C;
    border: none;
    color: white;  
}
@media screen and (min-width: 768px){
    .mobile-header{
        display: none;
    }
    .desktop-header{
        display: flex;
    }
}
@media screen and (min-width: 1024px){
    .desktop-header{
        padding: 0px 10%;
    }
    .menu a{
        font-size: 14px;
    }
}